[submodule "modules/elm-chartjs"]
	path = modules/elm-chartjs
	url = git://github.com/narkisr/elm-chartjs.git
[submodule "modules/elm-http"]
	path = modules/elm-http
	url = git://github.com/narkisr/elm-http.git
[submodule "modules/elm-simple-form"]
	path = modules/elm-simple-form
	url = git@github.com:etaque/elm-simple-form.git
[submodule "modules/elm-simple-form-infix"]
	path = modules/elm-simple-form-infix
	url = git@github.com:etaque/elm-simple-form-infix.git
