/*
 * Misc Celestial css settings
 * /
 
// Jobs

/* stats legend */
.legend { list-style: none; line-height: 1;}
.legend li { float: left; margin-right: 20px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

@keyframes changewidth {
  from {
    width: 10%;
  }

  to {
    width: 80%;
  }
}
      
div.progress-bar#processing {
  animation-duration: 60s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#runningJobs tbody>tr:hover {
  background-color: #e7e7e7;
}

#doneJobs tbody>tr:hover {
  background-color: #e7e7e7;
}

/* Systems */
#systemsListing tr:hover {
  background-color: #e7e7e7;
}

#templateListing tr:hover {
  background-color: #e7e7e7;
}

/* Json editor */
div.jsoneditor-menu {
  border-color: #4b4b4b;
  background-color: #7B879B;
}

a.jsoneditor-poweredBy {
  visibility : hidden
}

/* .navbar-custom-menu>.navbar-nav>li>.dropdown-menu { */
/*  position: absolute; */
/*  right: 0; */
/*  left: auto; */
/* } */
/*  */
